.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-tabs-1 {
  min-height: 402px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 224px;
  height: 224px;
  object-position: 50% 0.38%;
  margin: -8px 72px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -169px auto 0 41px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 41px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -34px auto 0 368px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 41px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 41px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 11px 0 0 auto;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-1 .u-custom-php-1 {
  min-height: 57px;
  height: auto;
  width: 675px;
  margin: 0 405px 0 0;
}

.u-section-1 .u-custom-php-2 {
  min-height: 57px;
  height: auto;
  width: 675px;
  margin: 0 405px 0 0;
}

.u-section-1 .u-custom-php-3 {
  min-height: 56px;
  height: auto;
  width: 675px;
  margin: 0 405px 0 0;
}

.u-section-1 .u-custom-php-4 {
  min-height: 56px;
  height: auto;
  width: 675px;
  margin: 0 405px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 168px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-php-1 {
    width: 540px;
    margin-top: -4px;
    margin-right: 205px;
  }

  .u-section-1 .u-custom-php-2 {
    margin-right: 205px;
  }

  .u-section-1 .u-custom-php-3 {
    margin-right: 205px;
  }

  .u-section-1 .u-custom-php-4 {
    margin-right: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-php-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-php-2 {
    margin-right: 0;
    width: 660px;
  }

  .u-section-1 .u-custom-php-3 {
    margin-right: 0;
    width: 660px;
  }

  .u-section-1 .u-custom-php-4 {
    width: 660px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-php-1 {
    width: 520px;
  }

  .u-section-1 .u-custom-php-2 {
    width: 520px;
  }

  .u-section-1 .u-custom-php-3 {
    width: 520px;
  }

  .u-section-1 .u-custom-php-4 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 503px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    height: 120px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -354px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 100px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -123px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 196px;
    margin-right: -45px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-php-1 {
    width: 320px;
    margin-top: -10px;
  }

  .u-section-1 .u-custom-php-2 {
    width: 320px;
  }

  .u-section-1 .u-custom-php-3 {
    width: 320px;
  }

  .u-section-1 .u-custom-php-4 {
    width: 320px;
  }
}